@import 'src/Assets/css/mixins';

.signUp-wrapper {
    @include flexCenter;
    position: fixed;
    width: 100%;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: #18191d;
    z-index: 99999;
    overflow: hidden;
    transition: 0.64s ease-in-out;

    visibility: hidden;
    opacity: 0;
    width: 100%;

    &.open {
        visibility: visible;
        opacity: 1;
    }
}
.signUp-container {
    @include flexCenter;
    position: relative;
    width: 60%;
    max-width: 800px;
    max-height: 600px;

    bottom: -100vw;
    right: -100vh;
    transform: rotate(32deg);
    transition: 0.64s ease-in-out;

    &.open {
        bottom: 0;
        right: 0;
        transform: rotate(0);
    }
}
.signUp-img {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.signUp-form {
    width: 60%;
    padding: 1rem 4rem;
    h2 {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 2rem;
        text-transform: uppercase;
        color: #fff;
        line-height: 1.4;
    }
}

.submit-btn {
    margin-top: 100px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 0.25rem;
    border: 1px solid transparent;

    p {
        font-size: 0.875rem;
        line-height: 1.5;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 4px;
        padding: 10px 20px;
    }
    & span {
        position: absolute;
        display: block;
    }
    & span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #03e9f4);
        animation: btn-span-1 1s linear infinite;
    }
    & span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #03e9f4);
        animation: btn-span-2 1s linear infinite;
        animation-delay: .25s;
    }
    & span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #03e9f4);
        animation: btn-span-3 1s linear infinite;
        animation-delay: .50s;
    }
    & span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #03e9f4);
        animation: btn-span-4 1s linear infinite;
        animation-delay: .75s;
    }

    &:hover {
        background: transparent;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
    }
}
@keyframes btn-span-1 {
    0% {
        left: -100%
    }
    60% {
        left: 100%;
    }
    100% {
        left: 100%
    }
}
@keyframes btn-span-2 {
    0% {
        top: -100%
    }
    60% {
        top: 100%;
    }
    100% {
        top: 100%;
    }
}
@keyframes btn-span-3 {
    0% {
        right: -100%
    }
    60% {
        right: 100%;
    }
    100% {
        right: 100%;
    }
}
@keyframes btn-span-4 {
    0% {
        bottom: -100%
    }
    60% {
        bottom: 100%;
    }
    100% {
        bottom: 100%;
    }
}
.closed-btn {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    top: 0;
    right: 0;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    @include flexCenter;
}