.title-block {
    width: 60%;

    padding: 0 20px;
}
.title-block__subtitle {
    font-size: 17px;
    letter-spacing: 7px;
    text-transform: uppercase;
    transition: all 1.5s;
    transition-delay: 0.5s;
    opacity: 0;

    &.show {
        opacity: 1;
    }
}
.title-block__title {
    font-size: 48px;
    font-weight: 200;
    line-height: 1.4;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    color: transparent;
    background-clip: text;
    opacity: 0;

    &.show {
        opacity: 1;
    }
}