@import 'src/Assets/css/mixins';
.shared-i {
    @include flexCenter;
    position: fixed;
    transition: all 0.4s;
    left: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    background-color: #2186EC;
    color: #fff;
    font-size: 24px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition-delay: 1s;
    z-index: 1000;

    &.open {
        background-color: #d81558;
        transition-delay: 0s;

        bottom: 80px;

        & .socnet-link {
            opacity: 1;
            width: 50px;
            height: 50px;
            visibility: visible;

            &:nth-child(2) {
                left: 5px;
                bottom: 80px;
            }
            &:nth-child(3) {
                left: 65px;
                bottom: 65px;
            }
            &:nth-child(4) {
                left: 80px;
                bottom: 5px;
            }
        }
    }
}
.socnet-link {
    transition: all 0.4s;
    opacity: 0;
    width: 0px;
    height: 0px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
    visibility: hidden;
    @include flexCenter;
    position: absolute;

    &:nth-child(2) {
        transition-delay: 0.3s;
        left: 50px;
        bottom: 50px;
        background-color: #25D366;
    }
    &:nth-child(3) {
        transition-delay: 0.4s;
        left: 50px;
        bottom: 50px;
        background-color: #c471ed;
    }
    &:nth-child(4) {
        transition-delay: 0.5s;
        left: 50px;
        bottom: 50px;
        background-color: #1da1f2;
    }
}