.right {
    position: absolute;
    height: 1px;
    width: 65%;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
.left {
    position: absolute;
    height: 1px;
    width: 65%;
    bottom: 0;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}